header {
    background-color: red;
    color: aqua;
}

body {
    background-image: url('Siamese_cat_1110x740.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* Testing comments */
    color: antiquewhite;
}

table, td, th {
    border: 1px solid black;
}

th, td {
    background-color: black;
    color: white;
}